# Results

After running several models Decision tree Classifier provides the best results for the dataset and the results are shown below:

Decision Tree parameters:  {'criterion': 'gini', 'max_depth': 4, 'min_samples_split': 2, 'splitter': 'random'}
    
Best Mean Cross-validation score: 84%

Decision Tree Test Performance:  83.33%
    
Decision Tree Train Performance:  84.39%

## Data Preprocessing

In [31]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [32]:
# Load Dataset
data = pd.read_csv("C:/Users/tharu/OneDrive/Desktop/MS-Sem 2/Applied Machine Learning/Lectures/Module -4/titanic (2).csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [34]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
# let's inspect the variable values

for var in data.columns:
    print(var, data[var].unique()[0:20], '\n')

PassengerId [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Survived [0 1]

Pclass [3 1 2]

Name ['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)' 'Sandstrom, Miss. Marguerite Rut'
 'Bonnell, Miss. Elizabeth' 'Saundercock, Mr. William Henry'
 'Andersson, Mr. Anders Johan' 'Vestrom, Miss. Hulda Amanda Adolfina'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Rice, Master. Eugene'
 'Williams, Mr. Charles Eugene'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Masselmani, Mrs. Fatima']

Sex ['male' 'female']

Age [22. 38. 26. 35. nan 54.  2. 27. 14.  4. 58. 20. 39. 55. 31. 34. 15. 28.
  8. 19.]

SibSp [1 0 3 4 2 5 8]

Parch [0 1 2 5 3 4 6]

Ticket ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'
 '17463' '349909' '347742' '237736' 'PP 9549' '113783' 'A/5. 2151'
 '347082' '350406' '248706' '382652' '244373' '345763' '2649']

Fare [ 7.25   71.2833  7.925  53.1     8.05    8.4583 51.8625 21.075  11.1333
 30.0708 16.7    26.55   31.275   7.8542 16.     29.125  13.     18.
  7.225  26.    ]

Cabin [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12']

Embarked ['S' 'C' 'Q' nan]

In [36]:
# make list of variables  types

# numerical: discrete vs continuous
discrete = [var for var in data.columns if data[var].dtype!='O' and var!='Survived' and data[var].nunique()<10]
continuous = [var for var in data.columns if data[var].dtype!='O' and var!='Survived' and var not in discrete]

# mixed
mixed = ['Cabin']

# categorical
categorical = [var for var in data.columns if data[var].dtype=='O' and var not in mixed]

print(f'There are {len(discrete)} discrete variables')
print(f'There are {len(continuous)} continuous variables')
print(f'There are {len(categorical)} categorical variables')
print(f'There are {len(mixed)} mixed variables')

There are 3 discrete variables
There are 3 continuous variables
There are 4 categorical variables
There are 1 mixed variables

In [37]:
# missing values
data.isnull().mean()

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [38]:
# cardinality (number of different categories)

data[categorical+mixed].nunique()

Name        891
Sex           2
Ticket      681
Embarked      3
Cabin       147
dtype: int64

In [39]:
# Cabin- mixed variable
# \d regular expression for digts . \d+ one or more digits
data['Cabin_num'] = data['Cabin'].str.extract('(\d+)') # captures numerical part
data['Cabin_num'] = data['Cabin_num'].astype('float')
data['Cabin_cat'] = data['Cabin'].str[0] # captures the first letter

# show dataframe
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_num,Cabin_cat
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,85.0,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123.0,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN

In [40]:
data['Title'] = data['Name'].str.split(',').str[1].str.split('\s+').str[1]
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_num,Cabin_cat,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,85.0,C,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,Miss.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123.0,C,Mrs.
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,Mr.

In [41]:
data['Title'].value_counts()

Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Mlle.          2
Col.           2
Major.         2
the            1
Jonkheer.      1
Ms.            1
Lady.          1
Don.           1
Capt.          1
Mme.           1
Sir.           1
Name: Title, dtype: int64

In [42]:
data['Cabin_cat'].value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: Cabin_cat, dtype: int64

In [43]:
# drop original mixed
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin_num,Cabin_cat,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN,NaN,Mr.
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,85.0,C,Mrs.
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,Miss.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123.0,C,Mrs.
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN,NaN,Mr.

In [44]:
data.drop(['PassengerId','Name','Ticket','Cabin'], axis=1,inplace=True)

In [45]:
data.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Cabin_num,Cabin_cat,Title
0,0,3,male,22.0,1,0,7.2500,S,NaN,NaN,Mr.
1,1,1,female,38.0,1,0,71.2833,C,85.0,C,Mrs.
2,1,3,female,26.0,0,0,7.9250,S,NaN,NaN,Miss.
3,1,1,female,35.0,1,0,53.1000,S,123.0,C,Mrs.
4,0,3,male,35.0,0,0,8.0500,S,NaN,NaN,Mr.

In [46]:
data.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare,Cabin_num
count,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,200.00000
mean,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,50.49000
std,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,35.39497
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,2.00000
25%,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,22.00000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,43.00000
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,77.25000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,148.00000

In [47]:
# separate into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    data.drop('Survived', axis=1),  # predictors
    data['Survived'],  # target
    test_size=0.1,  # percentage of obs in test set
    random_state=0)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((801, 10), (90, 10))

In [48]:
X_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Cabin_num,Cabin_cat,Title
815,1,male,NaN,0,0,0.0000,S,102.0,B,Mr.
877,3,male,19.0,0,0,7.8958,S,NaN,NaN,Mr.
193,2,male,3.0,1,1,26.0000,S,2.0,F,Master.
523,1,female,44.0,0,1,57.9792,C,18.0,B,Mrs.
634,3,female,9.0,3,2,27.9000,S,NaN,NaN,Miss.

In [49]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 801 entries, 815 to 684
Data columns (total 10 columns):
Pclass       801 non-null int64
Sex          801 non-null object
Age          643 non-null float64
SibSp        801 non-null int64
Parch        801 non-null int64
Fare         801 non-null float64
Embarked     799 non-null object
Cabin_num    175 non-null float64
Cabin_cat    179 non-null object
Title        801 non-null object
dtypes: float64(3), int64(3), object(4)
memory usage: 68.8+ KB

In [50]:
pip install feature_engine

Requirement already satisfied: feature_engine in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (0.3.1)
Requirement already satisfied: pandas>=0.23.0 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from feature_engine) (0.25.3)
Requirement already satisfied: scipy>=0.19.0 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from feature_engine) (1.4.1)
Requirement already satisfied: numpydoc>=0.6.0 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from feature_engine) (0.9.2)
Requirement already satisfied: statsmodels>=0.8.0 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from feature_engine) (0.10.1)
Requirement already satisfied: scikit-learn>=0.18.1 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from feature_engine) (0.22.1)
Requirement already satisfied: numpy>=1.12.1 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from feature_engine) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from pandas>=0.23.0->feature_engine) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from pandas>=0.23.0->feature_engine) (2019.3)
Requirement already satisfied: sphinx>=1.6.5 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from numpydoc>=0.6.0->feature_engine) (2.3.1)
Requirement already satisfied: Jinja2>=2.3 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from numpydoc>=0.6.0->feature_engine) (2.11.1)
Requirement already satisfied: patsy>=0.4.0 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from statsmodels>=0.8.0->feature_engine) (0.5.1)
Requirement already satisfied: joblib>=0.11 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from scikit-learn>=0.18.1->feature_engine) (0.14.1)
Requirement already satisfied: six>=1.5 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.23.0->feature_engine) (1.13.0)
Requirement already satisfied: imagesize in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.2.0)
Requirement already satisfied: alabaster<0.8,>=0.7 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (0.7.12)
Requirement already satisfied: sphinxcontrib-devhelp in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.0.1)
Requirement already satisfied: sphinxcontrib-jsmath in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.0.1)
Requirement already satisfied: sphinxcontrib-qthelp in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.0.2)
Requirement already satisfied: Pygments>=2.0 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (2.5.2)
Requirement already satisfied: sphinxcontrib-applehelp in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.0.1)
Requirement already satisfied: babel!=2.0,>=1.3 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (2.8.0)
Requirement already satisfied: requests>=2.5.0 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (2.22.0)
Requirement already satisfied: packaging in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (20.1)
Requirement already satisfied: sphinxcontrib-htmlhelp in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.0.2)
Requirement already satisfied: colorama>=0.3.5; sys_platform == "win32" in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (0.4.3)
Requirement already satisfied: snowballstemmer>=1.1 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (2.0.0)
Requirement already satisfied: setuptools in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (44.0.0.post20200106)
Requirement already satisfied: docutils>=0.12 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (0.16)
Requirement already satisfied: sphinxcontrib-serializinghtml in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.1.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from Jinja2>=2.3->numpydoc>=0.6.0->feature_engine) (1.1.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from requests>=2.5.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from requests>=2.5.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from requests>=2.5.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from requests>=2.5.0->sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (2.8)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\tharu\anaconda3\envs\buan6341_2020\lib\site-packages (from packaging->sphinx>=1.6.5->numpydoc>=0.6.0->feature_engine) (2.4.6)
Note: you may need to restart the kernel to use updated packages.

In [51]:
# from feature-engine
from feature_engine import missing_data_imputers as mdi
# for one hot encoding with feature-engine
from feature_engine.categorical_encoders import OneHotCategoricalEncoder
from feature_engine.categorical_encoders import RareLabelCategoricalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [52]:
titanic_pipe = Pipeline([

    # missing data imputation 
    ('imputer_num_arbit',
     mdi.ArbitraryNumberImputer(arbitrary_number=-1,
                                variables=['Cabin_num'])),
    ('imputer_num_mean',
     mdi.MeanMedianImputer(imputation_method='mean',variables=['Age'])),
    
    ('imputer_cat_freq',
     mdi.FrequentCategoryImputer(variables=['Embarked'])),
    
    ('imputer_cat_missing',
     mdi.CategoricalVariableImputer(variables=['Cabin_cat','Title'])),

    # categorical encoding 
    ('encoder_rare_label',
     RareLabelCategoricalEncoder(tol=0.01,
                                    n_categories=4,
                                    variables=['Cabin_cat','Title'])),
    ('categorical_encoder',
     OneHotCategoricalEncoder( top_categories=None,
                               variables=['Sex', 'Embarked','Cabin_cat','Title'], # we can select which variables to encode
                               drop_last=True)),

])

In [53]:
titanic_pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('imputer_num_arbit',
                 ArbitraryNumberImputer(arbitrary_number=-1,
                                        variables=['Cabin_num'])),
                ('imputer_num_mean',
                 MeanMedianImputer(imputation_method='mean',
                                   variables=['Age'])),
                ('imputer_cat_freq',
                 FrequentCategoryImputer(variables=['Embarked'])),
                ('imputer_cat_missing',
                 CategoricalVariableImputer(variables=['Cabin_cat', 'Title'])),
                ('encoder_rare_label',
                 RareLabelCategoricalEncoder(n_categories=4, tol=0.01,
                                             variables=['Cabin_cat', 'Title'])),
                ('categorical_encoder',
                 OneHotCategoricalEncoder(drop_last=True, top_categories=None,
                                          variables=['Sex', 'Embarked',
                                                     'Cabin_cat', 'Title']))],
         verbose=False)

In [54]:
# Apply Transformations
X_train=titanic_pipe.transform(X_train)
X_test=titanic_pipe.transform(X_test)

In [55]:
import warnings
warnings.filterwarnings('ignore')

# Logistic Regression

In [56]:
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
c=np.logspace(-3,3,10)
param_grid={'C':c}

logreg=LogisticRegression()

grid_logit = GridSearchCV(logreg, param_grid, cv=5)

grid_logit.fit(X_train,y_train)

print("Logistic Regression Parameters: {}".format( grid_logit.best_params_)) 
print("Best Mean Cross Validation score is {}".format(grid_logit.best_score_))
print("Best estimator is {}".format(grid_logit.best_estimator_))
# Check test data set performance
print("Logistic Performance: ", grid_logit.score(X_test,y_test))

Logistic Regression Parameters: {'C': 2.154434690031882}
Best Mean Cross Validation score is 0.8215062111801241
Best estimator is LogisticRegression(C=2.154434690031882, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
Logistic Performance:  0.8666666666666667

# KNeighborsClassifier

In [52]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

# define a list of parameters

param_knn = {'n_neighbors': range(8,15)}

#apply grid search
grid_knn = GridSearchCV(knn, param_knn, cv=5, return_train_score=True)
grid_knn.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_knn.best_score_))
print()

#find best parameters
print('KNN parameters: ', grid_knn.best_params_)

# Check test data set performance
print("KNN Test Performance: ", grid_knn.score(X_test,y_test))

Best Mean Cross-validation score: 0.72

KNN parameters:  {'n_neighbors': 14}
KNN Test Performance:  0.8222222222222222

# Decision Tree Classifier

In [30]:
from sklearn.model_selection import GridSearchCV

from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(random_state=0)

#define a list of parameters
param_dtree = {'max_depth': range(1,20),'min_samples_split':range(2,10,1),'criterion':['gini','entropy'],'splitter':['random']}

#apply grid search
grid_dtree = GridSearchCV(dtree, param_dtree, cv=5, return_train_score = True)
grid_dtree.fit(X_train, y_train)

# Mean Cross Validation Score
print("Best Mean Cross-validation score: {:.2f}".format(grid_dtree.best_score_))
print()

#find best parameters
print('Decision Tree parameters: ', grid_dtree.best_params_)

# Check test data set performance
print("Decision Tree Performance: ", grid_dtree.score(X_test,y_test))
print("Decision Train Performance: ", grid_dtree.score(X_train,y_train))

Best Mean Cross-validation score: 0.84

Decision Tree parameters:  {'criterion': 'gini', 'max_depth': 4, 'min_samples_split': 2, 'splitter': 'random'}
Decision Tree Performance:  0.8333333333333334
Decision Train Performance:  0.8439450686641697

# SVC using RBF Kernel

In [58]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
svc=SVC()
param_grid = [{'kernel': ['rbf'],
               'C': np.logspace(-3,3,5),
               'gamma': np.logspace(-3,3,5)}]
grid_svc = GridSearchCV(svc, param_grid, cv=3,
                          return_train_score=True)
grid_svc.fit(X_train, y_train)
print('train score: ', grid_svc.score(X_train, y_train))
print('test score: ', grid_svc.score(X_test, y_test))
print("Best parameters: {}".format(grid_svc.best_params_))
print("Best cross-validation score: {:.2f}".format(grid_svc.best_score_))

train score:  0.8551810237203495
test score:  0.7888888888888889
Best parameters: {'C': 31.622776601683793, 'gamma': 0.001, 'kernel': 'rbf'}
Best cross-validation score: 0.79

## SVC using Sigmoid Kernel

In [59]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
svc=SVC()
param_grid = [{'kernel': ['sigmoid'],
               'C': np.logspace(-3,3,5),
               'gamma': np.logspace(-3,3,5)}]
grid_svc = GridSearchCV(svc, param_grid, cv=3,
                          return_train_score=True)
grid_svc.fit(X_train, y_train)
print('train score: ', grid_svc.score(X_train, y_train))
print('test score: ', grid_svc.score(X_test, y_test))
print("Best parameters: {}".format(grid_svc.best_params_))
print("Best cross-validation score: {:.2f}".format(grid_svc.best_score_))

train score:  0.6317103620474407
test score:  0.5777777777777777
Best parameters: {'C': 0.03162277660168379, 'gamma': 0.001, 'kernel': 'sigmoid'}
Best cross-validation score: 0.63

## Linear SVC

In [30]:
from sklearn.svm import LinearSVC
lsvc=LinearSVC()
lsvc.fit(X_train,y_train)


# Print Co-efficients
print("lsvc.coef_:", lsvc.coef_)
print("lsvc.intercept_:", lsvc.intercept_)

# Check test data set performance
print("LSVC Performance Test: ", lsvc.score(X_test,y_test))

lsvc.coef_: [[-2.50906470e-01 -1.83049118e-02 -2.58402555e-01 -5.29981261e-02
  -6.26576613e-04 -1.67979624e-03 -7.06136302e-01 -1.30298795e-01
   8.38628493e-02 -6.91921509e-02 -7.19168847e-02  2.31234857e-01
   1.51336752e-01 -3.56554110e-01  9.95676450e-01 -5.15145451e-02
  -5.11802467e-02  1.16965115e+00  5.74651266e-01  2.90815841e-01]]
lsvc.intercept_: [1.17518718]
LSVC Performance Test:  0.8

## SVC using Poly Kernel

In [28]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
svc=SVC()
param_grid = [{'kernel': ['poly'],
               'degree':[1,2] }]
grid_svc = GridSearchCV(svc, param_grid, cv=3,
                          return_train_score=True)
grid_svc.fit(X_train, y_train)
print('train score: ', grid_svc.score(X_train, y_train))
print('test score: ', grid_svc.score(X_test, y_test))
print("Best parameters: {}".format(grid_svc.best_params_))
print("Best cross-validation score: {:.2f}".format(grid_svc.best_score_))

train score:  0.6754057428214731
test score:  0.6777777777777778
Best parameters: {'degree': 1, 'kernel': 'poly'}
Best cross-validation score: 0.67